PyMuPDF==1.26.5             
tiktoken==0.12.0            

nltk==3.9.2

sentence-transformers==5.1.2 
torch==2.9.0                 

faiss-cpu==1.12.0           
rank-bm25==0.2.2            

numpy==2.3.4               
scikit-learn==1.7.2         

PyYAML==-6.0.3       
